ul {
  color: #cc4871;
  margin: 20px auto;
  max-width: 800px;
  padding: 2px;
}

.list li {
  background: #f8d8f2;
  border-radius: 12px;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 20px;
  text-align: center;
}
